//-----------------------------------------------------------------------------
// Base: App.
//-----------------------------------------------------------------------------

#app {
  > header > section,
  > main > section,
  > footer > section {
    margin: 0 auto;
    max-width: $component-max-width;
  }

  > main {
    padding: 1rem;
  }
}
