//-----------------------------------------------------------------------------
// Base: App.
//-----------------------------------------------------------------------------

#app {
  > header > .component,
  > main > .component,
  > footer > .component {
    margin: 0 auto;
    max-width: $component-max-width;
  }

  > header {
    background-color: $color-header;
  }

  > main {
    padding-top: 1rem;
  }
}
