//-----------------------------------------------------------------------------
// Base: Grid System.
//-----------------------------------------------------------------------------

.grid {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  @extend .clearfix;
}

.col {
  display: inline-block;
  float: left;
  padding: 0.5rem 0.5rem;
  vertical-align: top;
}

.col-1-12  { width: 8.333333%; }
.col-2-12  { width: 16.666666%; }
.col-3-12  { width: 24.999999%; }
.col-4-12  { width: 33.333333%; }
.col-5-12  { width: 41.666666%; }
.col-6-12  { width: 49.999999%; }
.col-7-12  { width: 58.333333%; }
.col-8-12  { width: 66.666666%; }
.col-9-12  { width: 74.999999%; }
.col-10-12 { width: 83.333333%; }
.col-11-12 { width: 91.666666%; }
.col-12-12 { width: 100%; }

.col-6-12,
.col-7-12,
.col-8-12,
.col-9-12,
.col-10-12,
.col-11-12,
.col-12-12 {
  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

@mixin col-1-12  { @extend .col; width: 8.333333%; }
@mixin col-2-12  { @extend .col; width: 16.666666%; }
@mixin col-3-12  { @extend .col; width: 24.999999%; }
@mixin col-4-12  { @extend .col; width: 33.333333%; }
@mixin col-5-12  { @extend .col; width: 41.666666%; }
@mixin col-6-12  { @extend .col; width: 49.999999%; }
@mixin col-7-12  { @extend .col; width: 58.333333%; }
@mixin col-8-12  { @extend .col; width: 66.666666%; }
@mixin col-9-12  { @extend .col; width: 74.999999%; }
@mixin col-10-12 { @extend .col; width: 83.333333%; }
@mixin col-11-12 { @extend .col; width: 91.666666%; }
@mixin col-12-12 { @extend .col; width: 100%; }
