//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------

// Colors.
$color-base-white: #ffffff;
$color-base-black: #000000;

$color-shark: #2f3033;
$color-mid-gray: #626366;
$color-red: #e20505;

$color-main: $color-base-black;
$color-header: $color-shark;

$color-nav-active: $color-base-black;
$color-nav-hover: $color-mid-gray;

$color-button: $color-shark;
$color-button-hover: $color-mid-gray;

$color-link: $color-red;
$color-link-hover: $color-shark;


// Transitions.
$transition-ease-in-out: all .35s ease-in-out;
$transition-linear: all .35s linear;
$transition-linear-longer: all .5s linear;


// Sizes.
$component-max-width: 90rem; // 1440px

// Breakpoints.
$breakpoint-mobile: 720px;
