//-----------------------------------------------------------------------------
// Helpers: Variables.
//-----------------------------------------------------------------------------

// Colors.
$color-base-white: #ffffff;
$color-base-black: #000000;

$color-main: $color-base-black;
