//-----------------------------------------------------------------------------
// Elements: Form.
//-----------------------------------------------------------------------------

form {
  background-color: $color-light-gray;
  border: solid 1px $color-base-black;
  display: inline-block;
  padding: 1rem;
}

label {
  display: inline-block;
  margin-right: 1.5rem;
  vertical-align: top;
  width: 12rem;
}

input,
select,
textarea {
  border: solid 1px $color-mid-gray;
  padding: 0.375rem;
  width: 27rem;
}

select {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: calc(100% - 0.375rem) center;

  @include prefix((appearance: none));
}

textarea {
  height: 6rem;
}

input[type=submit] {
  background-color: $color-button;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 2rem;
  transition: $transition-ease-in-out;
  width: auto;

  &:hover {
    background-color: $color-button-hover;
  }
}

.form-item {
  & + .form-item {
    margin-top: 0.5rem;
  }
}

.form-actions {
  margin-top: 1.5rem;

  .form-action {
    display: inline-block;

    & + .form-action {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  label {
    margin-bottom: 0.25rem;
  }

  label,
  input,
  select,
  textarea {
    display: block;
    width: 100%;
  }

  .form-actions {
    .form-action {
      display: block;

      & + .form-action {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}
