//-----------------------------------------------------------------------------
// Elements: Form.
//-----------------------------------------------------------------------------

label {
  display: inline-block;
  margin-right: 1.5rem;
  vertical-align: top;
  width: 12rem;
}

input,
select,
textarea {
  width: 27rem;
}

textarea {
  height: 6rem;
}

input[type=submit] {
  background-color: $color-button;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 2rem;
  transition: $transition-ease-in-out;
  width: auto;

  &:hover {
    background-color: $color-button-hover;
  }
}

.form-item {
  & + .form-item {
    margin-top: 0.5rem;
  }
}

.form-actions {
  margin-top: 1.5rem;

  .form-action {
    display: inline-block;

    & + .form-action {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  label {
    margin-bottom: 0.25rem;
  }

  label,
  input,
  select,
  textarea {
    display: block;
    width: 100%;
  }

  .form-actions {
    .form-action {
      display: block;

      & + .form-action {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}
