//-----------------------------------------------------------------------------
// Elements: Message.
//-----------------------------------------------------------------------------

.message {
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;

  &.message--error {
    background-color: rgba(206, 93, 90, .95);
    color: $color-base-white;
  }
}
