//-----------------------------------------------------------------------------
// Elements: Table.
//-----------------------------------------------------------------------------

.table-wrapper {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: solid 1px $color-main;
      padding: 0.5rem;
      vertical-align: top;
    }

    th {
      background-color: $color-header;
      border-color: $color-main;
      color: $color-base-white;
      text-align: left;
    }
  }
}
