//-----------------------------------------------------------------------------
// Components: All components.
//-----------------------------------------------------------------------------

.component {
  padding: 0 2rem;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 1rem;
  }

  article {
    header {
      margin-bottom: 1rem;

      .main-actions {
        margin-top: 1rem;
      }
    }

    & + article {
      margin-top: 2rem;
    }
  }
}
