//-----------------------------------------------------------------------------
// Components: All components.
//-----------------------------------------------------------------------------

.component {
  padding: 0 2rem;

  article {
    header {
      margin-bottom: 1rem;

      .main-actions {
        margin-top: 1rem;
      }
    }

    & + article {
      margin-top: 2rem;
    }
  }

  .back {
    padding-bottom: 1rem;
  }
}
