//-----------------------------------------------------------------------------
// Components: All components.
//-----------------------------------------------------------------------------

.component {
  padding: 0 2rem;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 1rem;
  }

  article {
    header {
      margin-bottom: 1rem;
    }

    & + article {
      margin-top: 2rem;
    }

    section {
      margin-bottom: 1rem;
    }

    .main-actions {
      margin-top: 1rem;
    }
  }
}

// Remove paddings from components inside other components, the padding will be applied to the parent component.
.component .component {
  padding: 0;
}
