.component--project-creation {
  form {
    textarea {
      width: 18rem;
      height: 5rem;
    }
  }
}

.container{
  padding: 50px;
}

.field{
  margin: 10px;
  padding: 10px;
  display: inline;
}
