//-----------------------------------------------------------------------------
// Components: Navigation.
//-----------------------------------------------------------------------------

.component--navigation {
  @media screen and (max-width: $breakpoint-mobile) {
    float: none !important;
  }

  #responsive-menu-trigger {
    cursor: pointer;
    float: right;
    display: none;
    margin-right: 1rem;
    margin-top: 8px;
    @include prefix((user-select: none));

    @media screen and (max-width: $breakpoint-mobile) {
      display: inline-block;
    }

    svg {
      display: block;
      height: 32px;
      width: 32px;
    }
  }

  nav {
    float: left;

    @media screen and (max-width: $breakpoint-mobile) {
      float: none;
      height: 0;
      overflow: hidden;
      transition: $transition-ease-in-out;
      width: 100%;
    }

    ul {
      display: block;

      &::after {
        clear: both;
        content: '';
        display: table;
      }

      li {
        display: inline-block;
        float: left;

        @media screen and (max-width: $breakpoint-mobile) {
          float: none;
          display: none;
        }

        a {
          color: $color-base-white;
          display: block;
          padding: 1.5rem 1.5rem;
          text-decoration: none;
          transition: $transition-ease-in-out;

          &.router-link-active {
            background-color: $color-nav-active;
          }

          &:hover {
            background-color: $color-nav-hover;
          }
        }
      }
    }

    @media screen and (max-width: $breakpoint-mobile) {
      &.is-active {
        height: 16rem;

        ul {
          li {
            display: block;
          }
        }
      }
    }
  }
}
