//-----------------------------------------------------------------------------
// Components: Navigation.
//-----------------------------------------------------------------------------

.component--navigation {
  nav {
    ul {
      display: block;

      li {
        display: inline-block;

        a {
          color: $color-base-white;
          display: block;
          padding: 1.5rem 1.5rem;
          text-decoration: none;
          transition: $transition-ease-in-out;

          &.router-link-active {
            background-color: $color-nav-active;
          }

          &:hover {
            background-color: $color-nav-hover;
          }
        }
      }
    }
  }
}
