//-----------------------------------------------------------------------------
// Layout: Footer.
//-----------------------------------------------------------------------------

#app > footer {
  background-color: $color-footer;
  color: $color-base-white;
  padding: 1rem 1rem;
  transition: $transition-linear-longer;

  @media screen and (max-width: $breakpoint-mobile) {
    background-color: $color-base-black;
  }

  > section {
    padding: 0 2rem;
  }

  p {
    display: inline-block;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 0.875rem;

      &.hackable {
        display: none;
      }
    }
  }

  a {
    color: $color-base-white;

    &:hover {
      text-decoration: none;
    }
  }
}
