//-----------------------------------------------------------------------------
// Layout: Grid.
//-----------------------------------------------------------------------------

.grid-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
