//-----------------------------------------------------------------------------
// Layout: Header.
//-----------------------------------------------------------------------------

#app > header > section {
  @extend .clearfix;

  > * {
    float: left;
  }

  > .logo {
    margin-left: 2rem;
  }

  > .component {
    padding-left: 0;
  }
}
