//-----------------------------------------------------------------------------
// Layout: Header.
//-----------------------------------------------------------------------------

#app > header {
  background-color: $color-header;
  transition: $transition-linear-longer;

  @media screen and (max-width: $breakpoint-mobile) {
    background-color: $color-base-black;
  }

  > section {
    @extend .clearfix;

    > * {
      float: left;
    }

    > .component {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
